/* include padding and border */
* {
  box-sizing: border-box;
}

/* Style body */
body {
  font-family: Arial;
  padding: 10px;
  background: white;
}



/* Text Formay */
title {
  	font-weight: bold;
  	font-size: 175%;
    text-align: justify;
  	}
h1 {
  	font-weight: bold;
  	font-size: 150%;
   	text-align: justify;
  	}
h2 {
  	font-weight: bold;
  	font-size: 120%;
  	text-align: justify;
  	}
h3 {
  	font-weight: bold;
  	font-size: 110%;
  	text-align: justify;
  	}
p {
  	font-weight: normal;
  	font-size: 100%;
  	text-align: justify;
  	}
div {
  	font-weight: normal;
  	font-size: 100%;
  	text-align: justify;
  	}



  
