/* include padding and border */
* {
  box-sizing: border-box;
}

/* Style body */
body {
  font-family: Arial;
  padding: 10px;
  background: white;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

header {
    display: block;
  float:left;
  width:30%
}

section {
    display: block;
  float:left;
  width: 68%
}

@media print, screen and (max-width: 960px)
header {
    padding-right: 320px;
}

@media print, screen and (max-width: 960px)
section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  
@media print, screen and (max-width: 960px)
header, section, footer {
    float: none;
    position: static;
    width: auto;
}

@media print, screen and (max-width: 960px)
div.wrapper {
    width: auto;
    margin: 0;
}
  
center {
    display: block;
    text-align: -webkit-center;
} 

/* Text Formay */
title {
  	font-weight: bold;
  	font-size: 175%;
    text-align: justify;
  	}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
div {
    display: block;
}
  
a {
    color: #267CB9;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
  


  
